html {
    height: 900px;
}

.background {
    background: rgba(2, 37, 80, 1);
    background: -moz-linear-gradient(-45deg, rgba(2, 37, 80, 1) 0%, rgba(31, 109, 173, 1) 71%, rgba(13, 66, 119, 1) 100%);
    background: -webkit-gradient(left top, right bottom, color-stop(0%, rgba(2, 37, 80, 1)), color-stop(71%, rgba(31, 109, 173, 1)), color-stop(100%, rgba(13, 66, 119, 1)));
    background: -webkit-linear-gradient(-45deg, rgba(2, 37, 80, 1) 0%, rgba(31, 109, 173, 1) 71%, rgba(13, 66, 119, 1) 100%);
    background: -o-linear-gradient(-45deg, rgba(2, 37, 80, 1) 0%, rgba(31, 109, 173, 1) 71%, rgba(13, 66, 119, 1) 100%);
    background: -ms-linear-gradient(-45deg, rgba(2, 37, 80, 1) 0%, rgba(31, 109, 173, 1) 71%, rgba(13, 66, 119, 1) 100%);
    background: linear-gradient(135deg, rgba(2, 37, 80, 1) 0%, rgba(31, 109, 173, 1) 71%, rgba(13, 66, 119, 1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#022550', endColorstr='#0d4277', GradientType=0);
    position: relative;
    width: 970px;
    height: auto;
    margin: auto;
}

.form-center {
    margin: 0 auto;
    width: 100px;
    margin-top: 144px;
}

.form-top-margin {
    margin-top: 128px;
}

.field-height {
    height: 28px;
    border: 1px solid #FFFFFF;
    background-color: rgba(0, 0, 0, 0.1);
    color: #fff;
    padding-left: 12px;
    margin-left: 12px;
}

.password-top-margin {
    margin-top: 24px;
}

.label-right-margin {
    margin-bottom: 0px;
    display: inline-block;
    width: 110px;
    font-weight: bold;
    text-align: right;
    color: #fff;

}

.error-message-class {
    position: absolute;
    margin-top: -30px;
    margin-left: 120px;
    width: 200px;
}

.yellow-button {
    margin: 0;
    background-color: #ffed00;
    height: 28px;
    margin-top: 11px;
    margin-left: -43px;
    width: 164px;
    border: 0px;
}

.u-list {
    margin-top: 42px;
    margin-left: -57px;
    color: #fff;
    width: 200px;
}

.li-list {
    color: #fff;
}

.li-list:hover {
    color: #fff;
    cursor: pointer;
    text-decoration: underline;
}

.form-field-grp {
    width: 400px;
}

.error-message-class {
    color: #0000ff;
}

.inner-fld-div {
    margin-left: -140px;

}



.bottom-line {
    margin-top: 190px;
    width: auto;
    color: #FFFFFF;
}

.p-color {
    color: #FFFFFF;
    display: inline;
}

.foo-div {
    margin-top: 12px;
    width: 100%;

}

.text-1-2-margin {
    margin-left: 20px;
}

.text-3-margin {
    float: right;
    margin-right: 20px;
}


.form-group {
    margin: 0;
}

.error-message-class {
    margin: 0px;
}

.error-message-class p {
    margin: 0px;
    margin-bottom: 8px;
    margin-left: 20px;
    padding: 0;

}

.inner-fld-div > .form-field-grp:first-child .error-message-class {
    margin-top: -24px;
    margin-left: 105px;
}

.inner-fld-div > .form-field-grp .error-message-class {
    margin-top: 0px;
    margin-left: 105px;
}
.help-block .help-block-error .error-message-class {

}
.has-error .help-block, .has-error .control-label, .has-error .radio, .has-error .checkbox, .has-error .radio-inline, .has-error .checkbox-inline, .has-error.radio label, .has-error.checkbox label, .has-error.radio-inline label, .has-error.checkbox-inline label {
    color: #ff2f3b;
}
.checkbox{
    padding: 0;
}
.checkBox-parent {
    margin: 0;
    margin-left: -18px;
    margin-top: 14px;
    color: #fff;
}